*{
	box-sizing: border-box;
}
body{
	margin: auto;
	background-color: gray;
}
.centrar{
	text-align: center;
}
.rojo{
	background-color: red;
}
.center{
	text-align: center;
}
.centro{
	text-align: center;
}

